@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">THIS IS THE BEST SONG</h1>
    <p><iframe width="560" height="315" src="https://www.youtube.com/embed/VTCJ5hedcVA" 
               title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
               clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe></p>
    <h2 class="blinking">Life Is Beautiful</h2>
</div>

<script>
function blinker() {
	$('.blinking').fadeOut(500);
	$('.blinking').fadeIn(500);
}
setInterval(blinker, 1000);
</script>

